*{
    margin: 0;
}

body{
    height: 100%;
}

header{
    position: relative;
    height: 50px;
    background-color: red;
    
}

header h1{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0%, -50%);
    color: white;
}

header ul{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0%, 50%);
    color: white;
    
    
}

header ul li{
    display: inline;
    margin-right: 30px;
    font-size: 1rem;
    list-style: none;
    align-items: center;
}



#discover{
    height: 100vh;
    position: relative;

}

#discover h2{
    color: white;
}

.form-title{
    position: absolute;
    padding-top: 30%;
    padding-left: 40%;
}

.form-img{
    width: 100%;
}

.example input[type=text]{
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

form.example button{
  float: left;
  width: 10%;
  height: 20px;
  padding: 10px;
  background: red;
  /*color: white;*/
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;


}



#Movies{
    text-align: center;
    /*justify-content: space-between;*/
    padding: 50px 0;
}

#Movies h2{
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
   
}

#Movies{
    text-align: center;
    padding: 50px 0px;
}
.Suggest{
    display: inline-block;
    width: 25%;
    /*text-align: center;*/
    margin-bottom: 0px;
    text-align: center;
    border: 1px solid lightgray;

}

.Suggest p{
    font-weight: 700;
    color: lightgrey;
   
}

.img{
    width: 100%;
}
.main-footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: .25rem;
    color: grey;
    align-items: flex-end;

}

.main-footer ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 50px;
}

.main-footer ul li{
    padding: 5%;
    
}

.img-description{
    display: flex;
    text-align: center;
    padding: 5px;
    
}

@media only screen and (orientation: portrait) {
    header ul li{
        font-size: 1.1rem;
        margin-right: 10px;
    }

    header h1{
        font-size: 1.1rem;
    }

    #discover{
        width: 360px;
        height: 760px;
    }

    .container{
        display: flex;
        flex-direction: column;

    }

    .Suggest{
        width: 100%;
        margin-bottom: 10px;
    }

    .main-footer{
        display: inline-block;
    }
}

